//共通の要素とか汎用的なものをまとめる 
@font-face {
  font-family: 'SDK_JP';
  src: url('../../assets/fonts/SDK_JP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

// 上からフェードインするアニメーション
@keyframes fadeInFromTop {
  from {
    opacity: 0; /* 初期状態で非表示 */
    transform: translateY(-40px); /* 初期位置を下にずらす */
  }
  to {
    opacity: 1; /* 表示状態にする */
    transform: translateY(0); /* 元の位置に戻す */
  }
}

// 下からフェードインするアニメーション
@keyframes fadeInFromBottom {
  from {
      opacity: 0;
      transform: translateY(40px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* スライドインのアニメーション定義 */
@keyframes slide-inL{
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-500%); /* 左から外にある状態 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
}

@keyframes slide-inR{
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(500%); /* 右から外にある状態 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
}

// フォントスライドイン(左)のアニメーション定義
@keyframes fontslide {
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-64px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


* {
  box-sizing: content-box;
  }
  
  html,
  body {
  color: white;
  font-family: 'SDK_JP', sans-serif;
  }