//共通の要素とか汎用的なものをまとめる 
@font-face {
  font-family: 'SDK_JP';
  src: url('../../assets/fonts/SDK_JP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

// その場でフェードインするアニメーション
@keyframes fadeIn {
  from {
    opacity: 0; /* 初期状態で非表示 */
  }
  to {
    opacity: 1; /* 表示状態にする */
  }
}

// 上からフェードインするアニメーション
@keyframes fadeInFromTop {
  from {
    opacity: 0; /* 初期状態で非表示 */
    transform: translateY(-40px); /* 初期位置を下にずらす */
  }
  to {
    opacity: 1; /* 表示状態にする */
    transform: translateY(0); /* 元の位置に戻す */
  }
}

// 下からフェードインするアニメーション
@keyframes fadeInFromBottom {
  from {
      opacity: 0;
      transform: translateY(40px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* スライドインのアニメーション定義 */
@keyframes slide-inL{
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-500%); /* 左から外にある状態 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
}

@keyframes slide-inR{
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(500%); /* 右から外にある状態 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
}

// フォントスライドイン(左)のアニメーション定義
@keyframes fontslide {
  from {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(-64px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



* {
  box-sizing: content-box;
  }
  
  html,
  body {
  color: white;
  font-family: 'SDK_JP', sans-serif;
  }

.TopScrollbtn {
  position: fixed;
  width: 60px;  // ボタンの幅
  height: 60px; // ボタンの高さ
  bottom: 20px;
  right: 20px;
  padding: 8px 15px; //アローサイズの調整
  font-size: 16px;
  width: 45px;
  height: 45px;
  background: linear-gradient(#270b5a, #25117e, #1a3ba8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 1000;
  opacity: 1;
  animation: fadeIn 0.5s;
}

.arrow {
  width: 100px;
  height: 100px;
  position: relative;
}

.arrow path {
  fill: white;
  width: 40px;
  height: 40px;
}

.TopScrolltext {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -25px;
  opacity: 0;
  transition-duration: .7s;
}

.TopScrollbtn:hover .TopScrolltext {
  opacity: 1;
  transition-duration: .7s;
}